<!DOCTYPE html>
<html lang="en">

	$applicationHead

<body>
	<div class="content">	

		<!-- Insert sidebar -->
		$applicationSidebar

		<!-- Insert mobile sidebar-->
		$applicationMobileSidebar
	   
		<!-- Overview -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 tabindex = "1">$heading</h1>
			</div>
		</div>

        <div class="container" style="margin-left: 0px; padding: 0px;">

            <div id="accordion">
                $collapsibleMenu
            </div>
            
        </div>
            
    </div>
</body>

</html>