<!DOCTYPE html>
<html>

$unitHead

<body>
	<div class="content">

		$unitSidebar

		$unitMobileSidebar

		<!-- Overview -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 tabindex="1">Assignments</h1>
				$compiledAssignments

				<p>
					Click on assignment name to expand to detailed viewer.
				</p>
				<p>
					Click the (gold) PDF or (navy blue) LaTeX buttons to download the 
					file for the assignment. Click on the (blue) Raw HTML button to 
					open a plain browser view of the assignment. 
				</p>
				<p>
					When Solutions are released, access them using the toggle switch next to the 
					"Solutions" label.
				</p>
				<p>
					You can view the assignment PDF file in full screen or in a separate application.
				</p>
			</div>
		</div>

		<div class="container" style="margin-left: 0px; padding: 0px;">
			<div id="accordion">
				$collapsibleMenu
			</div>
		</div>

		<script>
			function annotations(boolean, notes, annotated,id) {
				var doc;
				var drive;
				if (boolean) {
					doc = "web/viewer.html?file=../" +annotated
					
				} 

				else {
					doc = "web/viewer.html?file=../"+notes
				}
				
				document.getElementById(id).src = doc;
			}
		</script>



	</div>
	

	<!-- jQuery Version 1.11.1 -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

</body>

</html>