<!DOCTYPE html>
<html>

$unitHead

<body>
	<div class="content">

		$unitSidebar

		$unitMobileSidebar


		


		<!-- Overview -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 tabindex="1">Assignments</h1>
				<p>Compiled assignments file <a href="../output/assignments/assignments-compiled.pdf" download>download</a></p>
			</div>
		</div>

		<div class="container" style="margin-left: 0px; padding: 0px;">

			<div id="accordion">
				$collapsibleMenu
			</div>

		</div>

		<script>
			function annotations(sw, notes, annotated,id) {
				var doc;
				var drive;

				//0 value means annotations are off 
				if (sw == 0) {
					doc = "web/viewer.html?file=../"+notes
				}  

				//1 value turns annotations on
				else {
					doc = "web/viewer.html?file=../" +annotated
				}

                document.getElementById(id).src = doc;
			}
		</script>



	</div>
	

	<!-- jQuery Version 1.11.1 -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

</body>

</html>