<!DOCTYPE html>
<html lang="en">


$unitHead

<body>

	<!-- Navigation Bar -->
	<header></header>
	<img style="width: 100%; object-fit: fill;" src="../resources/images/Red_flowers_at_Carlsbad.jpeg" alt="Flowers">

	<h1 style="text-align:center; margin-top: 25px;">Welcome to $mainTitle</h1>
	<!-- <h2 style="text-align:center; font-size: 300%;"> Fall 2021<br></h2> -->

	<!--<br><br>
	<script async src="https://cse.google.com/cse.js?cx=ee1b5ada3b391867f"></script>
	<div class="gcse-search"></div>-->
	
	<h2 style="text-align:center; font-size: 300%;"> View course by:<br></h2>

	<div class="choices">
		<ul>
			<li><a style= "color:black;text-decoration: none;" href="courseInfo.html">Fall 2024 Syllabus</a></li>
			<li><a style= "color:black;text-decoration: none;" href="overview_calendar.html">Fall 2024 Calendar</a></li>
			<li><a style= "color:black;text-decoration: none;" href="overview_outcome.html">Outcomes</a></li>
			<li><a style= "color:black;text-decoration: none;"href="overview_application.html">Applications</a></li>
		</ul>
	</div>

	<h2 style="text-align:center; color:gray; font-size: 200%;"> Archive of prior class offerings:<br></h2>

	<div class="choices">
		<ul>
			<li><a style= "color:black;text-decoration: none;" href="https://archive-theory-cs.github.io/sp22-theory-cs.github.io/website/">Spring 2022</a></li>
			<li><a style= "color:black;text-decoration: none;" href="https://archive-theory-cs.github.io/sp23-theory-cs.github.io/website/">Spring 2023</a></li>
			<li><a style= "color:black;text-decoration: none;" href="https://archive-theory-cs.github.io/wi24-theory-cs.github.io/website/">Winter 2024</a></li>
			<br><br>
		</ul>

		<br><br>
	</div>
	
	$copyrightFooter


</body>


</html>