<!DOCTYPE html>
<html>

$unitHead

<body>

    <!-- Insert sidebar -->
    $unitSidebar

    <!-- Insert mobile sidebar-->
    $unitMobileSidebar
    $unitSecondarySidebar

	  <div class="content secondary">
		<br>
		<h1 style="line-height: 30px;">$courseTitle</h1>
    <br>
    <p>
    <a href="office_hours.html">Office hours</a>: drop-in (in person
    and Zoom) Question & Answer opportunity to talk with the tutors, TAs, and instructor about concepts and specific questions from 
    class and homework.
    </p>
    <br> 

    $unitBoxes
  
</body>
</html>