<!DOCTYPE html>
<html>

$unitHead

<body>

    <!-- Insert sidebar -->
    $unitSidebar

    <!-- Insert mobile sidebar-->
    $unitMobileSidebar
    $unitSecondarySidebar

	  <div class="content secondary">
		<br>
		<h1 style="line-height: 30px;"> Discrete Math for CS</h1>
    <br>
    
    $unitBoxes
  
      <h2>Office hours</h2>
      <a name="officehours"></a>
            <iframe src="https://calendar.google.com/calendar/embed?src=eng.ucsd.edu_m71n0crh5tdlujeg2tp4b8mn8o%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</body>
</html>