<!DOCTYPE html>
<html>

$outcomeHead

<body>
    
    <!-- Insert sidebar -->
    $outcomeSidebar

    <!-- Insert mobile sidebar-->
    $outcomeMobileSidebar

    
	
    <div class="content">

    <!-- <script async src="https://cse.google.com/cse.js?cx=ee1b5ada3b391867f"></script>
    <div class="gcse-search"></div> -->
		
    <h1 style="font-size: 50px;"><a href="overview_outcome.html" aria-label="Go to Overview" style="color: #337ab7; text-decoration: none;">Overview</a></h1>
	
	<!-- Template starts here -->
    $outcomeBoxes 

</body>

</html>