/* UCSD Brand Color Link https://brand.ucsd.edu/logos-and-brand-elements/color-palette/index.html */
/* Google Font Link */
/*@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap'); */

.topnav {
    overflow: hidden;
    background-color: #182B49;
    position: fixed;
    width: 100%;
    z-index: 6;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #00C6D7;
    color: #182B49;
}
  
.topnav a.active {
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px #182B49;
}
  
.topnav-right {
    float: right;
}

.header {
    height: 80vh;
    background: url('../../resources/images/Red_flowers_at_Carlsbad.jpeg');
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
}

h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 300%;
    line-height: normal;
    color: #182B49;
}

h2 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 200%;
    line-height: 45px;
    color: #182B49;
}

h3 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #182B49;
}

h4 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
    color: #182B49;
}

.column dl{
    margin: 0;
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /*Chrome, Safari, IE 11 */
}

.column dt{
    font-size: 20px;
}


.bx-subdirectory-right{
    color: #00629B;
}

.column a{
    color: #00629B;
    text-decoration: none;
    
}

.column dd{
    font-size: 15px;
}

.wrapper{
    margin-right: auto;
    margin-left:  auto;

    max-width: 960px; 

    padding-right: 10px; 
    padding-left:  10px; 
}

body {
    height: 100%;
    /* margin: 25px 50px 75px 100px; */
    /* font-family: 'Nunito', sans-serif;*/
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.calendar-margin{
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    div.calendar-margin{
        margin-left: 10px;
    }
}



#page {
    display: flex;
    height: 100%;
    /* height: calc( 100vh - 30px); */
    /* calculate the height. Header is 30px */
}

table {border: none;}


table.cinereousTable {
    /* font-family: Verdana, Geneva, sans-serif; */
    border: 1px solid white;
    background-color: #00C6D7;
    width: 100%;
    text-align: center;
}
  
table.cinereousTable td, table.cinereousTable th {
    border: 1px solid white;
    padding: 3px 4px;
}
  
table.cinereousTable tbody td {
    font-size: 15px;
}
  
table.cinereousTable thead {
    background: white;
}
  
table.cinereousTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #182B49;
    text-align: center;
}

.sidenav {
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background-color: #182B49;
    font-weight: bold;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;	
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #00C6D7;
}

.content {
    margin-left: 100px;
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-width: 600px) {
    div.content{
        margin-left: 10px;
    }

    div.content.secondary{
        margin-left: 0px;
    }
}

p {
    font-size: 140%;
}

ul {
    /*list-style:none;*/
     font-size: 140%;
     margin-left: 2%;
     text-decoration: none;
 }

 li {
    margin-bottom: 5px;
    text-decoration: none;
}

.PDFjs{
    resize: both;
    overflow: auto;
}


.button{
    background: #6E963B;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 0.2% 0.8%;
    border: 2px solid #6E963B;
    font-weight: 700;
    font-size: 100%;
}

.button:hover {
    color: #6E963B;
    background: white;
    text-decoration: none;
}

.button.coll{
    background: #00629B;
    border: 2px solid #00629B;
}

.button.coll:hover {
    color: #00629B;
    background: white;
    text-decoration: none;
}

.button.PDF {
    background: #C69214;
    border: 2px solid #C69214;
}

.button.PDF:hover {
    color: #C69214;
    background: white;
    text-decoration: none;
}

/* #annotationsOnButton{
    color:white;
    background: #00C6D7;
    text-decoration: none;
    border: 2px solid #00C6D7;
} */

/* #annotationsOnButton:hover{
    color:#00C6D7;
    background: white;
    text-decoration: none;
} */

#annotationsOffButton{
    color: white;
    background: #00C6D7;
    text-decoration: none;
    border: 2px solid #00C6D7;
}

#annotationsOffButton:hover{
    color:#00C6D7;
    background: white;
    text-decoration: none;
}

.button.LaTeX {
    background: #182B49;
    border: 2px solid #182B49;
}

.button.LaTeX:hover {
    color: #182B49;
    background: white;
    text-decoration: none;
}

.button.HTML {
    background: #00629B;
    border: 2px solid #00629B;
}

.button.HTML:hover {
    color: #00629B;
    background: white;
    text-decoration: none;
}

.button.Order {
    background: #B6B1A9;
    border: 2px solid #B6B1A9;
    color: #182B49;
}

.button.Order:hover {
    color: #B6B1A9;
    background: #182B49;
    text-decoration: none;
    border: 2px solid #182B49;
}

.mondayButtons {
    position: absolute;
    left: 480px;
    top: 360px;
    font-size: 120%;
}

label {
    font-size: 120%;
}

.form-switch .form-check-input {
    width:4em;
    height: 2em;
    position: relative;
}

.collapsed card-link{
    font-weight: bolder;
    font-size: 150%;
}

.card-link{
    font-weight: bolder;
    font-size: 150%;
}

.header{
    font-weight: bolder;
}



.logo {
    /*text-align:left;*/ 
    font-size: 200%;
    line-height: 60px;
}

.copyright{
    background-color: #182B49;
    color: white;
    text-align: center;
    font-size: 100%;
    margin-bottom: 0%;
    bottom:0%;
    width:100%;
    /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
}

.choices {
    border-radius: 8px;
    text-align: center;
    
}

.choices li {
    background-color: #FFCD00;
    border: 3px solid #FFCD00;
    margin-right: 10px;
    font-weight: 500;
    display: inline-block;
    width: auto;
    padding: 2px 15px;
    border-radius: 8px;
}

.choices li:hover {
    transform: translatey(-1px);
    transition: .2s;
    background-color: #00C6D7;
    border: 3px solid #00C6D7;
}

.jumpContent:hover {
    color: #182B49;
    font-size: 120%;
}

#viewpdf{
    width : 85%;
    height : 600px;
}

dl{
    font-size: 140%;
}
dd{
    margin-left: 30px;
}

.feedback_form{
    margin-bottom: 100px;
}

.box {
    border: 3px solid #00629B;
    /*background:#B6B1A9;*/
    /*background:#e6e1d9;*/
    background: #e9e9e9;
    border-color: #00629B;
    border-width: 9%;
    border-style: outset;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10%;
    border-spacing: 100px;
    box-shadow: 2px 2px #B6B1A9;
    
    
}

.box.outcome{
    background: white;
    width: 80%;
    padding: 6px;

}

.box.actv {
    background: white;
}

.column {
    column-count: 1;
}

.box:hover {
    transform: scale(1.01);
}

.collapsible {
  background-color: white;
  width: 100%;
  border: none;
  text-align: left;
}

/* .active, .collapsible:hover {
  background-color: #e6e1d9;
} */

.boxContent {
  display: none;
  overflow: hidden;
}

.badge {
    background-color: #182B49;
    font-weight: 400;
}


/* TOGGLE SWITCH*/

.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  color: rgb(7, 7, 7);
  font-size: 100%;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position:relative; top:7px;left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: #fd5d00;
  transition: 0.4s;
  width:    40px;
  height: 24px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  transition: 0.4s;
  top: 2px;
  left: 2px;
}

input:checked + .slider {
  background-color: green;
  box-shadow: 0 0 12px green;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider.round {
  border-radius: 20px;
}
.slider.round::before {
  border-radius: 20px;
}

.highlighted
{
 background-color: yellow;
}

.highlight
{
background-color: #fff34d;
-moz-border-radius: 5px; /* FF1+ */
-webkit-border-radius: 5px; /* Saf3-4 */
border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight
{
padding: 1px 4px;
margin: 0 -4px;
}
.content.secondary{
margin-left: 160px;
}
.searchButton{
   background: #528ce2;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 0.2% 0.8%;
    border: 2px solid #528ce2;
    font-weight: 700;
    font-size: 100%; 
}

.nextButton{
    background: #528ce2;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 0.2% 0.8%;
    border: 2px solid #528ce2;
    font-weight: 700;
    font-size: 100%; 
}

.glossaryPDFDiv{
    resize: both;
    overflow: auto;
}

/* SLIDERS from: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

/* input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none !important;
  appearance: none !important;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff ;
  /* Not removed via appearance */
  margin: 0 ;
}