/* UCSD Brand Color Link https://brand.ucsd.edu/logos-and-brand-elements/color-palette/index.html */
/* Google Font Link */
/*@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap'); */

.topnav {
    overflow: hidden;
    background-color: #00629B;
    position: fixed;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #00C6D7;
    color: #182B49;
}
  
.topnav a.active {
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px #182B49;
}
  
.topnav-right {
    float: right;
}

h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 380%;
    line-height: 87px;
    color: #182B49;
}

h2 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 280%;
    color: #182B49;
}

.column dl{
    margin: 0;
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /*Chrome, Safari, IE 11 */
}

.column dt{
    font-size: 20px;
}


.bx-subdirectory-right{
    color: #00629B;
}

.column a{
    color: #00629B;
    text-decoration: none;
    
}

.column dd{
    font-size: 15px;
}

.wrapper{
    margin-right: auto;
    margin-left:  auto;

    max-width: 960px; 

    padding-right: 10px; 
    padding-left:  10px; 
}

body {
    height: 100%;
    /* margin: 25px 50px 75px 100px; */
    /* font-family: 'Nunito', sans-serif;*/
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.calendar-margin{
    margin-left: 100px;
}

@media screen and (max-width: 600px) {
    div.calendar-margin{
        margin-left: 10px;
    }
}



#page {
    display: flex;
    height: 100%;
    /* height: calc( 100vh - 30px); */
    /* calculate the height. Header is 30px */
}

table {border: none;}


table.cinereousTable {
    /* font-family: Verdana, Geneva, sans-serif; */
    border: 1px solid white;
    background-color: #00C6D7;
    width: 100%;
    text-align: center;
}
  
table.cinereousTable td, table.cinereousTable th {
    border: 1px solid white;
    padding: 3px 4px;
}
  
table.cinereousTable tbody td {
    font-size: 13px;
}
  
table.cinereousTable thead {
    background: white;
}
  
table.cinereousTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #182B49;
    text-align: center;
}

.sidenav {
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background-color: #182B49;
    font-weight: bold;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;	
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #00C6D7;
}

.content {
    margin-left: 100px;
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-width: 600px) {
    div.content{
        margin-left: 10px;
    }
}

p {
    font-size: 150%;
}

ul {
    /*list-style:none;*/
     font-size: 150%;
     margin-left: 0%;
     text-decoration: none;
 }

 li {
    margin-bottom: 5px;
    text-decoration: none;
}

.PDFjs{
    resize: both;
    overflow: auto;
}


.button{
    background: #6E963B;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 0.2% 0.8%;
    border: 2px solid #6E963B;
    font-weight: 700;
    font-size: 70%;
}

.button:hover {
    color: #6E963B;
    background: white;
    text-decoration: none;
}

.button.PDF {
    background: #C69214;
    border: 2px solid #C69214;
}

.button.PDF:hover {
    color: #C69214;
    background: white;
    text-decoration: none;
}

#annotationsOnButton{
    color:white;
    background: #00C6D7;
    text-decoration: none;
    border: 2px solid #00C6D7;
}

#annotationsOnButton:hover{
    color:#00C6D7;
    background: white;
    text-decoration: none;
}

#annotationsOffButton{
    color: white;
    background: #00C6D7;
    text-decoration: none;
    border: 2px solid #00C6D7;
}

#annotationsOffButton:hover{
    color:#00C6D7;
    background: white;
    text-decoration: none;
}

.button.TeX {
    background: #F3E500;
    border: 2px solid #F3E500;
}

.button.TeX:hover {
    color: #F3E500;
    background: white;
    text-decoration: none;
}

.button.HTML {
    background: #00629B;
    border: 2px solid #00629B;
}

.button.HTML:hover {
    color: #00629B;
    background: white;
    text-decoration: none;
}

.button.Order {
    background: #B6B1A9;
    border: 2px solid #B6B1A9;
    color: #182B49;
}

.button.Order:hover {
    color: #B6B1A9;
    background: #182B49;
    text-decoration: none;
    border: 2px solid #182B49;
}

.mondayButtons {
    position: absolute;
    left: 480px;
    top: 360px;
    font-size: 200%;
}

label {
    font-size: 150%;
}

.form-switch .form-check-input {
    width:4em;
    height: 2em;
    position: relative;
}

.collapsed card-link{
    font-weight: bolder;
    font-size: 200%;
}

.card-link{
    font-weight: bolder;
    font-size: 200%;
}

.header{
    font-weight: bolder;
}



.logo {
    /*text-align:left;*/ 
    font-size: 250%;
    line-height: 60px;
}

.copyright{
    background-color: #182B49;
    color: white;
    text-align: center;
    font-size: 150%;
    margin-bottom: 0%;
    bottom:0%;
    width:100%;
    /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
}

.choices {
    border-radius: 8px;
    text-align: center;
    
}

.choices li {
    background-color: #FFCD00;
    border: 3px solid #FFCD00;
    margin-right: 10px;
    font-weight: 500;
    display: inline-block;
    width: auto;
    padding: 2px 15px;
    border-radius: 8px;
}

.choices li:hover {
    transform: translatey(-1px);
    transition: .2s;
    background-color: #00C6D7;
    border: 3px solid #00C6D7;
}

.jumpContent:hover {
    color: #182B49;
    font-size: 120%;
}

#viewpdf{
    width : 85%;
    height : 600px;
}

dl{
    font-size: 150%;
}
dd{
    margin-left: 30px;
}

.feedback_form{
    margin-bottom: 100px;
}

.box {
    border: 3px solid #00629B;
    background:#B6B1A9;
    border-color: #00C6D7;
    border-width: 9%;
    border-style: outset;
    border-radius: 8px;
    padding: 30px;
    margin-right: 10%;
    border-spacing: 100px;
    box-shadow: 2px 2px #B6B1A9;
    
    
}

.column {
    column-count: 2;
}

.box:hover {
    transform: scale(1.01);
  }

